<div class="container-fluid">
    <div class="container"> 
  
      <div class="container">
        <div class="row">
          <div class="col-md-1 float-left">
            <img class="top-star-row icon float-left"src="https://img.icons8.com/bubbles/50/000000/star.png"/>
          </div>
          <div class="col-md-10 d-flex justify-content-center"> 
            <span class="text-center cursive">Anshita</span>
          </div>
          <div class="col-md-1 float-right">
            <img  class="top-star-row icon float-right" src="https://img.icons8.com/bubbles/50/000000/star.png"/>
          </div>     
        </div>
        <div class="row justify-content-center">
        <span class="turn-font">turns</span>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-1 ">
          <img class="icon lower-row float-left"src="https://img.icons8.com/bubbles/50/000000/like.png"/>
        </div>
        <div class="col-md-10 d-flex justify-content-center"> 
          <span  class="one-font">ONE</span>
        </div>
        <div class="col-md-1">
          <img class="icon lower-row float-right" src="https://img.icons8.com/bubbles/50/000000/like.png"/>
        </div>     
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="container-fluid outer-card">
    <div class="container">
    <div class="row justify-content-center" id="upper">
      <img src="./assets/img/cake.JPG" class="img-rounded" alt="Iru Ka Cake">
    </div> 
    <div class="row card" id="lower">
      <div class="container card-firstblock">
        <div class="row justify-content-center">
          <span class="is-font">Please join us to </span>
        </div>
        <div class="row justify-content-center">
          <span class="is-font">celeberate Anshita's </span>
        </div>
        <div class="row justify-content-center">
          <span class="is-font">1<sup>st</sup> Birthday</span>
        </div>
      </div>
      <div class="container card-secondblock">
        <div class="row justify-content-center">
          <span class="when-font">When </span>
        </div>
  
        <div class="row justify-content-center">
          <span class="when-font">{{dateDisplay}}</span>
        </div>
      </div>
      <div class="container card-secondblock">
        <div class="row justify-content-center">
          <span class="when-font">Where</span>
        </div>
  
        <div class="row justify-content-center">
          <a class="where-font" href="https://meet.google.com/rzz-cuav-kse" target="_blank"><img src="./assets/img/hangouts-meet.png" width="40px" height="40px"></a>
        </div>
      </div>
    </div>
    
    </div>
  </div>